*, *:after, *:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.not-found {
    height: 100vh;
    background-color: #63a4ff;
    background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
}

.not-found .container {
    padding: 7em;
}

.not-found h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.not-found p {
    font-size: 25px;
    margin-bottom: 20px;
}

.not-found a {
    background-color: #1560BD; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}